.invoice-generator {
  display: flex;
  background-color: $white;
  box-shadow: $shadow;
  margin-top: $spacing-x4;
  justify-content: center;

  &__content {
    width: 250px;
    margin: $spacing-x4;

    @media (min-width: $screen-lg) {
      width: 100%;
      display: flex;
      flex-direction: column;
      margin: $spacing-x8;
    }
  }

  &__invoice {
    align-self: center;
  }

  &__customer {
    align-self: center;
  }

  &__buttons {
    display: flex;
    margin-top: $spacing-x3;
  }

  &__new-item {
    width: $icon-lg;
    height: $icon-lg;
    margin-left: auto;
    margin-bottom: $spacing-x6;
  }

  &__summary {
    width: 250px;
    margin-right: 0;
    margin-left: auto;
  }
}

.summary {
  &__item {
    display: flex;
  }

  &__value {
    margin-right: 0;
    margin-left: auto;
  }
}
