@import "./reset";
@import "./variables";
@import "./text";
@import "./utils";
@import "./components/";

#root {
  width: 100vw;
}

body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

.container {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.content {
  min-width: $content-width-xsm;
  margin-left: $spacing-x3;
  margin-right: $spacing-x3;
  width: 100%;

  @media (min-width: $screen-lg) {
    width: $content-width-lg;
  }
}
